:root{
    --praamirycolor: #ff274b ;
    --secandarycolor: #f7bcf7;
    --lightcolor:#ffffff;
    --bgcolor-1:#171a1c;
    --bgcolor-2:#22282a;
    --padding:8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--lightcolor);
    
}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
body{
    
   /* height: 100vh; */
    background-color:#171a1c;
    
}
span{
    color: var(--praamirycolor);

}
h2{
    font-size: 1.5rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-top: 2.8rem;
    padding-right: var(--padding);
    padding-left: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul li {
    list-style-type: none;
    display: inline-block ;
    margin: 0.8rem 1.5rem;
    

}
nav ul li a {
    color:#ffffff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
a:hover{
    color:#ff274b;

}
.header-1{
    
    margin-top: 102px;
}
.header-1 ul li {
    list-style-type: none;
    /* background-color: #ff274b; */
}
li  {
    display: inline;
    
    padding: 4px; 
}
.myphoto img:hover{
    transform: scale(1.1);
    transition: 3s;

}
section{
    display: flex;
    justify-content: space-around;
}
.caption-text{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline #ff274b;
}
.card-1{
    display: flex;
    justify-content: center;
}
.about-me{

    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background:linear-gradient(#31393c,#910000);
    
}
.sochal{
        margin: 2.2rem;
}
.sochal img{
    margin-right: 2rem;
}
.sochal img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
.aboutme-text{
    text-align: justify;
    padding: 50px;
}

footer {
    background:linear-gradient(#2e2b2b,#4d0101);
    padding: 20px 0;
    text-align: center;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    text-align: center;
}
.footer-section-1{
    text-align: left;
}
.social-media {
    list-style: none;
    padding:20px;
    margin: 0;
}

.social-media li {
    display: inline;
    margin: 7px ;
}

.social-media li a {
    text-decoration: none;
    color:#f2f2f2;
}

.bottom-footer {
    margin-top: 20px;
    text-decoration: none;
}
.bottom-footer a{
    text-decoration: none;
    color: #f2f2f2;
}
.Services{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.lest-1{
    width: 600px;
    text-align: justify;
    margin: 30px;
    padding-right: 25px;
    background-color: #22282a;

}
.lest-2{
    width: 600px;
    text-align: justify;
    margin: 30px;
    padding-right: 25px;
    background-color: #22282a;
    
}
.skills{
    display: flex;
    justify-content: space-around;
    margin: 50px;

}
.skil-1{
    width: 400px;
    margin: 50px;
    padding: 10px;
    text-align: center;
    text-align: justify;
    background:linear-gradient(#31393c,#000000);
}
.skil-2{
    width: 400px;
    margin: 50px;
    padding: 10px;
    text-align: center;
    text-align: justify;
    background:linear-gradient(#31393c,#000000);


}